body {
	background-color: #000000 !important;
	color: #ffffff;
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}

a:link
{
	color: #63a3ee;
	text-decoration: none;
}

a:hover
{
	color: #63a3ee;
	text-decoration: none;
}

a:visited
{
	color: #63a3ee;
	text-decoration: none;
}

#Wrapper
{
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
}

#Main
{
	min-height: 600px;
}

#SFSLogo
{
	margin-bottom: 40px;
}

#Navigation
{    
}

#Footer
{
	margin-top: 20px;
	color: #cea667;
	font-size: 8pt;
}

#Footer a:link
{
	color: #cea667;
}

#Footer a:hover
{
	color: #cea667;
}

#Footer a:visited
{
	color: #cea667;
}

.HorizontalDivider
{
	background-color: #cea667; 
	margin-top: 10px; 
	width: 100%; 
	margin-bottom: 10px; 
	height: 2px;
}

.HorizontalDividerWhite
{
	background-color: #fff; 
	margin-top: 10px; 
	width: 100%; 
	margin-bottom: 10px; 
	height: 2px;
}

#MySignatureNavWrapper
{
	background-color: #2e2e2e; 
	padding: 10px 10px 20px 10px;
	background-image: url('/images/web/mysignature_nav_bg.jpg?sfvrsn=2'); 
	background-position: right bottom; 
	background-repeat: no-repeat;
	min-height: 300px;
}

.Button {
	-moz-border-radius: 15px;
	border-radius: 15px; 
	-webkit-border-radius: 15px;
	background-color: #63a3ee;
	padding: 10px 20px 10px 20px;
	text-align: center;
	-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);   
	color: #fff !important; 
	border: 0px; 
	cursor: pointer; 
	behavior: url(/styles/PIE.htc);
	position:relative;
	-webkit-appearance: none;
}

.formLabel
{
	font-weight: bold;
	float:left;
	width: 30%;
}

/*.required:after
{
	content: ' *';
	color: Red;
}*/

.Welcome:before
{
	content: 'Welcome: ';
}

.Welcome
{
	MARGIN-TOP: 0px; FONT-FAMILY: Arial; MARGIN-BOTTOM: 15px; COLOR: #71a3f3; FONT-SIZE: 25px
}

.Logout
{
	float:left;
	text-align: left;
}

.Logout:before
{
	content: ' ';
}

.formField
{
	float:left;
	width: 60%;
	min-height: 28px;
	overflow:hidden;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	vertical-align: bottom;
	background-image: url("/images/web/textboxroundedcornermedium.gif?sfvrsn=2");
	background-repeat: no-repeat;
}

.formField span
{
	width: 250px !important;
}

.formField INPUT
{
	width: 257px;
	border: 0px !important;
	padding: 0px !important;
}

#SFSFormWrapper
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.BlueBG {
	-moz-border-radius: 15px;
	border-radius: 15px; 
	-webkit-border-radius: 15px;
	background-color: #63a3ee;
	padding: 10px;
	text-align: center;
	color: #fff;
	text-align: left;
}

.BlueBG a:link {
	color: #fff;
	text-decoration: none;
}

.BlueBG a:hover {
	color: #fff;
	text-decoration: none;
}

.BlueBG a:visited {
	color: #fff;
	text-decoration: none;
}

.UrgentMessageListItem
{
	padding: 10px;
}

.SubHeaderWhite
{
	font-size: 16px;
}

.linkButton A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.linkButton A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.linkButton A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.linkButton A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}

.TextBox_LargeSizeWrapper
{
	background-image: url('/images/web/textboxroundedcornerlarge.gif?Status=Temp&sfvrsn=2');
	height: 25px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	vertical-align: bottom;
	background-repeat: no-repeat;
}

/*wrapper for navigation generated by radmenu*/
.sf_2cols_1_25
{
	padding-top: 10px;
}

/*wrapper for search box*/
.sf_2cols_2_75
{
	padding-top: 10px;
}

.HeaderNav
{
	height: 66px;
}

.pageTitle {
	MARGIN-TOP: 0px; FONT-FAMILY: Arial; MARGIN-BOTTOM: 15px; COLOR: #71a3f3; FONT-SIZE: 25px
}

.pageTitle A:link {
	MARGIN: 0px; COLOR: #71a3f3; TEXT-DECORATION: none
}

.pageTitle A:hover {
	MARGIN: 0px; COLOR: #71a3f3; TEXT-DECORATION: underline
}

.pageTitle A:active {
	MARGIN: 0px; COLOR: #71a3f3; TEXT-DECORATION: none
}

.pageTitle A:visited {
	MARGIN: 0px; COLOR: #71a3f3; TEXT-DECORATION: none
}

.pageTitle SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

.newsRotatorWrapper
{
	margin-top: 20px;
}

.NewsListItem
{
	margin-top: 8px;
	margin-bottom: 8px;
}

.NewsletterListItem
{
	margin-top: 8px;
	margin-bottom: 8px;
}

.clear
{
	clear:both;    
	height: 0px;
}

.TwitterWrapper
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.FacebookLikeWrapper
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.Validator
{
	color: Red;
	margin-left: 20px;
}

.RequiredLabel
{
	color: Red;
	margin-left: 3px;
}

.ErrorWindow
{
	padding: 5px;
	background-color: #181818;
	color: Red;
}

.Login
{
	border: 0px;
}

#sfLoginWidgetWrp
{
	border: 0px;
}

.HelpIcon
{
}

/*left column on two column template*/
.TCLeftColumn
{    
	width: 49% !important;
	float:left;
}

/*right column on two column template*/
.TCRightColumn
{
	width: 49% !important;
	margin-left: 20px;
	float:left;
}

.loadingImage
{
	position:absolute;
	top:50%;
	margin-top:-30px;
	left:50%;
	margin-left:-65px;
	background-repeat: no-repeat;
}

.Validator2
{
	color: Red;
	margin-left: 10px;
} 

.rbText
{
	color: #fff;
	font-size: 12px;
	font-family: Arial;
}

.PassValidationBase
{
	display: inline-block;
	font: 12px/18px "segoe ui" ,arial,sans-serif;
	height: 20px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 121px;
	color: #fff;
	border: 1px solid #333;
	behavior: url(/styles/PIE.htc);
}

.red
{
	color: Red;
}

.green
{
    color: Green;    
}

.RegisterTabs
{
	color: #63a3ee;
}
	
.RadTabStrip_Black .rtsSelected 
{
	color: #63a3ee;
	font-size: 14px;
	font-family: Arial;
}
	
.RadTabStrip_Black .rtsDisabled 
{
	color: #999;
	font-size: 14px;
	font-family: Arial;
}
	
.RadTabStrip, .RadTabStripVertical 
{
	border-bottom: 1px solid #282828;
}
	
.RegisterBG 
{
	min-height: 600px;  
	/* fallback */
	background-color: #000;
	background: url('/images/web/register_bg.jpg?sfvrsn=2');
	background-repeat: repeat-x;
	padding: 20px;
  
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d1d1d), to(#000));
  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #1d1d1d, #000);
  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #1d1d1d, #000);
  
	/* IE 10 */
	background: -ms-linear-gradient(top, #1d1d1d, #000);
  
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #1d1d1d, #000);
}               
div.RadComboBox td.rcbInputCellLeft { 
	background: white; 
} 
div.RadComboBox_Default td.rcbArrowCellRight { 
	background-position: -156px -88px !important; 
	background-color: white; 
} 
.RadComboBox table td.rcbInputCell
{
	width: 240px !important;
}
	
.RadCaptcha span
{
	color: Red;
} 

.MyInfoHeader
{
	font-weight: bold;
	font-size: 12px;
}

.MyInfoDiv
{
	height: 1px;
	background-color: #333333;
	margin-bottom: 10px;
}

.MyInfoLeftCol
{
	float:left;
	width: 250px;
	margin-bottom: 5px;
	font-weight:bold;
}

.MyInfoRightCol
{
	float:left;
	margin-bottom: 5px;
}

.MyInfoWrapper
{
	margin-bottom: 15px;
}

.MyInfoWrapperLeftCol
{
	float:left;
}

.MyInfoWrapperRightCol
{
	float:right;
	width: 200px;
}

.pageDescription
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.RadPanelBar_Black .rpGroup a.rpLink, .RadPanelBar_Black .rpGroup div.rpHeaderTemplate, .RadPanelBar_Black .rpGroup .rpTemplate
{
	padding: 10px;    
	background-color: #101010;
}
	
.RadPanelBar_Black .rpGroup
{
	background-color: #101010;
}
	
.RadPanelBar_Black a.rpLink:hover
{
	color: #63A3EE;
}
	
.RadPanelBar_Black .rpExpandable span.rpExpandHandle, .RadPanelBar_Black .rpExpanded span.rpExpandHandle {
	background-color: rgba(213, 35, 35, 0);
	/*background-image: url('/WebResource.axd?d=A-eYLNu7r1jwb66huUgdelzmmFgRmS6cUcEcfebuCULhmwhwmkJUJB8fkWjjAcau4bXRTZ23SsPqPuDAtEU5_7_rjfhtO5-6FmOJlPlcOwqoG5QOccc0WhEdEUplp_c-RdepPfdt6Qhf7_guAuLFpO0Sgl-GtPtMwDbXQEbIO9CDPssI0&t=634768454535463232');*/
	background-image: url('/images/web/panelbarbluearrow.png');
	background-repeat: no-repeat;
} 

.SelectField
{
	background-color: rgb(144, 144, 144);
	border-top: 1px solid #8e8e8e;
	border-right: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
	border-left: 1px solid #8e8e8e;
	color: #282828;
	font-size: 12px;
	width: 200px;
	font-family: "segoe ui", arial, sans-serif;
	padding: 2px;    
}

.GrayInput
{
	background-color: rgb(144, 144, 144);
	border-top: 1px solid #8e8e8e;
	border-right: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
	border-left: 1px solid #8e8e8e;
	color: #282828;
	font-size: 12px;
	width: 200px;
	font-family: "segoe ui", arial, sans-serif;
	padding: 2px;
}

.SiteMapHeader
{
	color: #71a3f3;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #181818;
}

.rgDetailTable
{
    width: 100%;    
}

.greenSuccess
{
    padding: 5px;
    background-color: Green;
    color: White;
    margin-bottom: 3px;    
}

.myAppsItemDiv{ width:150px; height:230px;margin:10px; line-height:1.2;}
.textPad { margin:0px 20px; width:80%;} 
.scrollDiv { max-height:400px; overflow:auto;}
.inactiveText { color:Gray; }
#div_modal { background-color:Black; padding:30px; border:1px solid gray; }
#modalContent { width:400px !important; height:300px !important;  }
div.RadListView .rlvFloated .rlvI {border:0;}
.loadingDiv { margin:100px auto; text-align:center; }
.RadListView .rlvFloated .rlvI, .RadListView .rlvFloated .rlvA, .RadListView .rlvFloated .rlvISel, .RadListView .rlvFloated .rlvIEmpty, .RadListView .rlvFloated .rlvIEdit {border-width:0;}